{% extends 'base.html' %}
{% block content %}

<div class="cashier">

    <div align="center">
        <h1 class="title2">{{tit}}</h1>
    </div>

    <form action="" method="POST" class="form-group">
        {% csrf_token %}
        {{ form.media }}
        <h5>
            <center>Título: {{ form.title }} | Assunto:{{ form.subject }}</center>
        </h5>

        <hr>

        {% if tit == 'Nova Instrução' %}
        <h5>
            <center>
                 Módulo:
                 <select name="modulo">
                    {% for module in modules %}
                        <option value="{{module.pk}}">{{module.title}}</option>
                    {% endfor %}
                 </select>

                | Nível:{{ form.level }}
            </center>
        </h5>
        {% else %}
        <h5>
            <center>
                 Módulo:
                 <select name="modulo">
                    {% for module in modules %}
                        {% if module.pk == pk_module_selected %}
                            <option selected="selected" value="{{module.pk}}">{{module.title}}</option>
                        {% else %}
                            <option value="{{module.pk}}">{{module.title}}</option>
                        {% endif %}
                    {% endfor %}
                 </select>

                | Nível:{{ form.level }}
            </center>
        </h5>
        {% endif %}

        <hr>

        <h5>
            <center>Conteúdo:</center>
        </h5>
        <center>{{ form.content }}</center>


        <div class="btn" align="right">
            <button type="button" title="Voltar para a tela inicial sem salvar a Instrução" name="" value="" onclick="button_event('cancel')" class="css">Cancelar</button>
            <button type="submit" title="Salvar a Instrução" class="css">Salvar</button>
        </div>
    </form>
</div>
{% endblock %}

{% block script %}
<script>
function button_event(event){
    if(event == 'cancel'){
        window.location.href="/"
    }
}
</script>
{% endblock %}